:root {
  --background-color: #e5ffff;
  --nav-bar-color: #301449;
  --nav-profile-color: #dac71c;
  --nav-link-color: #8a7e15;
  --nav-link-hover-color: #ffe600;
  --text-color: #828828;
  --img-bg-color: rgb(44, 13, 13);
  /* Use for the width of side nav bar and main section offset*/
  --width-offset: 230px;
  --max-height: 100%;
}

/* Universal Selector */
* {
  font-family: "Open Sans", sans-serif;
  color: var(--text-color);
}

/* Element Selector */
body {
  background-color: var(--background-color);
}

header {
  background-color: var(--nav-bar-color);
  min-height: var(--max-height);
  width: var(--width-offset);
  padding: 0 1%;
  position: fixed;
  z-index: 1;
}

main {
  left: var(--width-offset);
  width: calc(100% - var(--width-offset));
}

/* Class Selector - basic */
.relative {
  position: relative;
}

.block {
  display: block;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

/* Class Selector */
.profile-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 5px auto;
}

.profile-name {
  color: var(--nav-profile-color);
  font-size: 150%;
}

.nav-list {
  list-style: none;
}

.nav-link,
.nav-link:visited {
  padding: 19px 0;
  text-decoration: none;
  color: var(--nav-link-color);
  font-size: 120%;
  font-weight: 100;
}

.nav-link:hover {
  color: var(--nav-link-hover-color);
}

.backgroundImg {
  height: 100vh;
  width: 100%;
  background-image: url("../Images/placeholder.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* Media Selector */
@media screen and (max-width: 900px) {
  body {
    top: 111px;
  }

  header {
    flex-direction: column;
    justify-content: center;
  }

  /* Navigation Bar */
  nav ul {
    display: none;
    flex-direction: column-reverse;
  }

  nav a,
  nav a:visited {
    padding: 5px 0;
  }
  
  /* nav ul :nth-child(1) { order: 3; }
  nav ul :nth-child(2) { order: 2; }
  nav ul :nth-child(3) { order: 1; } */
  
  header:hover ul {
    display: flex;
  }
}