:root {
  --background-color: #e5ffff;
  --nav-bar-color: #301449;
  --nav-profile-color: #dac71c;
  --nav-link-color: #8a7e15;
  --nav-link-hover-color: #ffe600;
  --text-color: #5d6128;
  --img-bg-color: rgb(44, 13, 13);
  /* Use for the width of side nav bar and main section offset*/
}

/* Universal Selector */
* {
  font-family: "Open Sans", sans-serif;
  color: var(--text-color);
}

/* Element Selector */
body {
  background-color: var(--background-color);
}

header {
  background-color: var(--nav-bar-color);
  height: 55px;
}

section {
  padding-bottom: 1%;
}

h1 {
  color: var(--nav-profile-color);
  font-size: 1.5rem;
  margin-bottom: 5%;
  width: 100%;
}

h2 {
  border-top: 2px solid black;
  font-size: 1.5rem;
  padding: 2% 0;
}

h3,
figcaption {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* Class Selector - basic */
.container {
  width: 95%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-flow: row;
}

.column {
  display: flex;
  flex-flow: column;
}

.align-center {
  align-items: center;
}

.just-center {
  justify-content: center;
}

.just-end {
  justify-content: flex-end;
}

.just-even {
  justify-content: space-evenly;
}

.just-around {
  justify-content: space-around;
}

.text-center {
  text-align: center;
}

.radius-circle {
  border-radius: 50%;
}

/* Class Selector */
.nav-bar {
  width: 100%;
  height: 100%;
  align-items: center;
}

.nav-list {
  width: 100%;
}

.nav-link,
.nav-link:visited {
  color: var(--nav-link-color);
  font-size: 120%;
  font-weight: 100;
}

.nav-link:hover {
  color: var(--nav-link-hover-color);
  text-shadow: 0px 0px 8px
  var(--nav-link-hover-color);
}

.profile-img {
  height: 200px;
  width: 200px;
  margin: 5px auto;
}

.about-me div {
  width: 100%;
}

#projects a {
  overflow: hidden;
}

.project-list li {
  width: 70%;
}

.project-img {
  width: 90%;
}

.icon-contact {
  width: 30%;
  margin: 0 auto;
}

/* Media Selector */
@media screen and (min-width: 1180px) {
  .project-list {
    flex-direction: row;
  }
  .project-list li {
    width: 50%;
  }
}