/* Universal Selector */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: rgb(130, 136, 40);
}

/* Element Selector */
html {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  top: 50px;
  background-color: rgb(12, 4, 37);
}

header {
  min-height: 75px;
  width: 100%;
  padding: 1%;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(30, 13, 46);
}

/* Title Styling */
header h1 {
  display: flex;
  flex-wrap: wrap;
  font-size: 300%;
  align-content: center ;
  color: rgb(218, 199, 28);
}

/* Navigation Bar styling */
nav ul {
  display: flex;
  min-width: 500px;
  justify-content: space-evenly;
  list-style: none;
}

nav a,
nav a:visited {
  text-decoration: none;
  color: rgb(218, 199, 28);
  font-size: 200%;
  font-weight: 900;
}

/* My image styling */
main figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main figcaption {
  text-align: center;
  width: 75%;
  border: 3px solid black;
  border-radius: 5px;
}

/* Class Selector */


/* Media Selector */
@media screen and (max-width: 800px) {
  body {
    top: 111px;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  /* Navigation Bar */
  nav ul {
    flex-direction: column;
  }

  nav ul :nth-child(1) { order: 3; }
  nav ul :nth-child(2) { order: 2; }
  nav ul :nth-child(3) { order: 1; }
  
  nav li {
    margin: 0 auto;
  }
}